---
layout: default
---

<style type="text/css">
	.container {
		max-width: 800px;
	}
</style>
<div class="row">
	<div class="col-sm-4">
		<p><img class="full" src="{{ site.baseurl }}/gambar/{{ page.gambar }}" alt=""></p>
	</div>
	<div class="col-sm-8">
		{% if page.kelebihan %}
			<div class="panel panel-success">
				<div class="panel-heading">Kelebihan</div>
				<div class="panel-body">
					{{ page.kelebihan | markdownify }}
				</div>
			</div>
		{% endif %}
		{% if page.kekurangan %}
			<div class="panel panel-danger">
				<div class="panel-heading">Kekurangan</div>
				<div class="panel-body">
					{{ page.kekurangan | markdownify }}
				</div>
			</div>
		{% endif %}
	</div>
</div>