---
layout: default
---

<style type="text/css">
	.container {
		max-width: 800px;
	}
</style>
<div class="row">
	<div class="col-sm-4 theia">
		<div class="theiaStickySidebar">
			<div class="item">
				<div class="panel panel-default">
					<div class="panel-body">
						<img class="full" src="{{ site.baseurl }}/gambar/{{ page.gambar }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8 theia">
		<div class="theiaStickySidebar">
			{% if page.penilaian %}
				<canvas id="myChart" width="400" height="400"></canvas>
				<script>
				var ctx = document.getElementById('myChart').getContext('2d');
				var myChart = new Chart(ctx, {
				    type: 'polarArea',
				    data: {
				        labels: [
				        	{% assign penilaian = page.penilaian | sort: "nama" %}
				        	{% for x in penilaian %}
				        		'{{ x.nama }}',
				        	{% endfor %}
				        ],
				        datasets: [{
				            label: '# of Votes',
				            data: [
				            	{% for x in penilaian %}
				            		{{ x.nilai }},
				            	{% endfor %}
				            ],
				            backgroundColor: [
				                'rgba(255, 99, 132, 0.2)',
				                'rgba(54, 162, 235, 0.2)',
				                'rgba(255, 206, 86, 0.2)',
				                'rgba(75, 192, 192, 0.2)',
				                'rgba(153, 102, 255, 0.2)',
				                'rgba(255, 159, 64, 0.2)'
				            ],
				            borderColor: [
				                'rgba(255, 99, 132, 1)',
				                'rgba(54, 162, 235, 1)',
				                'rgba(255, 206, 86, 1)',
				                'rgba(75, 192, 192, 1)',
				                'rgba(153, 102, 255, 1)',
				                'rgba(255, 159, 64, 1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero: true
				                }
				            }]
				        }
				    }
				});
				</script>
				<br>
			{% endif %}
			{% if page.kesan %}
				<div class="panel panel-default">
					<div class="panel-heading">Kesan Membaca Buku Ini</div>
					<div class="panel-body">
						{{ page.kesan | markdownify }}
					</div>
				</div>
			{% endif %}
			{% if page.kelebihan %}
				<div class="panel panel-success">
					<div class="panel-heading">Kelebihan</div>
					<div class="panel-body">
						{{ page.kelebihan | markdownify }}
					</div>
				</div>
			{% endif %}
			{% if page.kekurangan %}
				<div class="panel panel-danger">
					<div class="panel-heading">Kekurangan</div>
					<div class="panel-body">
						{{ page.kekurangan | markdownify }}
					</div>
				</div>
			{% endif %}
			<div id="disqus_thread"></div>
			<script>
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				*/
				var disqus_config = function () {
					this.page.url = 'https://www.muhammadzaini.com{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://zen-4.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</div>
</div>